* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: rgb(22, 22, 22);
    height: 100%;
    overflow: hidden;
}

header {
    position: fixed;
    background-color: #3333;
    width: 60px;
    height: 30%;
    top: 50%;
    transform: translateY(-50%);
    margin-left: 10px;
    border-radius: 20px;
    gap: 10%;
    z-index: 2;

    & nav {

        & ul {
            
            & li {
                margin-bottom: 15px;
                
                & button {
                    width: 60px;
                    background: none;
                    border: none;
                    border-radius: 50px;

                    & a {

                        & img {
                            width: 40px;
                        }
                    }

                    &:hover {
                        border: 1px solid #fff;
                    }
                }
            }

            & .home {
                background-color: orange;
                border-radius: 50px;
            }
        }
    }
}

.logo {

    & button {
            position: fixed;
            left: 50%;
            transform: translateX(-50%);
            margin-top: -2%;
            border: none;
            background: none;
            border-radius: 0 0 30px 30px;
            z-index: 2;
            
            & img {
                width: 250px;
                margin-top: 10%;
                background-color: rgb(22, 22, 22);
                border-radius: 0 0 30px 30px;
            }
    }
}

section {
    height: 100vh;
    position: relative;
    background-color: rgb(22, 22, 22);
    background-size: 100%;
    background-repeat: no-repeat;

    & .lista {
        width: 70vw;
        height: 100%;
        margin: auto;
        position: relative;

        & .itens {
            position: absolute;
            inset: 0;

            & .imagemcarro {
                width: 40%;
                position: absolute;
                top: 30%;
                left: 50%;
                transform: translateX(-50%);

                & .carros{
                    width: 100%;  
                }
            }

            & .modelo1 {
                position: absolute;
                right: 42.8%;
                top: -4%;
                width: 70%;
                height: 100%;
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: end;
                gap: 20px;

                & .descricao{
                    font-weight: bold;
                    font-size: 20px;
                    max-width: 400px;
                    text-align: end;
                    color: #fff;
                    margin-top: 35%;
                }

                & h2 {
                    font-size: 5em;
                    line-height: 1em;
                    color: orange;
                }
            }

        }

        &::before {
        content: " ";
        position: absolute;
        height: 600px;
        width: 40%;
        top: 20%;
        border: 3px solid orange;
        border-left: none;
        border-right: none;
        transform: translateX(75%);
        }
    }

    & .arrows {
        width: 40%;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -25px);
        display: flex;
        justify-content: space-between;

        & button:nth-child(1) {

            & img {
                transform: scale(-1);
            }
        }


        & button {
            top: 60%;
            width: 50px;
            height: 50px;
            border-radius: 50%;
            cursor: pointer;
            border: none;
            background-color: orange;

            & img {
                width: 30px;
                margin-top: 4px;
                
            }
            &:hover {
                border: 3px solid #fff;
            }
        }
    }

    & .indicators {
        position: absolute;
        top: 56%;
        margin-left: 45%;
        height: 200px;
        width: 90%;
        display: flex;
        flex-direction: column;
        justify-content: end;
        gap: 15px;

        & ul {
            display: flex;
            gap: 10px;
            list-style: none;
        }

        & li {
            width: 50px;
            height: 5px;
            background-color: orange;
            border-radius: 5px;
            transition: 0.5s;
        }

        & .active {
            background-color: rgb(150, 97, 0);
        }
    }
}

section{

    & .lista {

        & .itens {
            transform: translateX(100vw);
            transition: 0.5s;
            opacity: 0;


            & .imagemcarro {

                & .carros{
                    transform: rotate(0);
                    transition: 0.5s;
                    transition-delay: 0.3;

                }
            }

            & .modelo1 {

                & .descricao, h2, .informacoes {
                    transform: translateX(200px);
                    transition: 0.7s;
                    transition-delay: o.3s;
                    opacity: 0;
                }

                & h2 {
                    transition-delay: 0.5s;
                }

                & .descricao {
                    transition-delay: 0.7s;
                }


            }
        }

        & .active {
            transform: translateX(0);
            transition: 0.5s;
            opacity: 1;

            & .modelo1 {

                & .descricao, h2, .informacoes {
                    transform: translateX(0);
                    opacity: 1;
                }
            }
        }
    }
}

@media screen and (max-width: 1366px) {

    header{
        top: 27%;
        height: 25%;
    }

    .logo{
        
        & button{
            left: 25.4%;
            margin-top: -0.99%;

            & img{
                width: 200px
            }
        }
    }

    section{

        & .lista{

            & .itens{

                & .imagemcarro{
                    top: 35%;

                    & .modelo1{

                        & .descricao{
                            margin-top: 40%;
                        }
                    }
                }
            }

            &::before{
                top: 33%;
                height: 250px;
            }
        }
    }

    & .indicators{
        margin-top: -5%;
    }
}